
<div class="form-group">
	<%= form.radio_button(:order_type, 0, checked: true) %>
	<%= form.label :buy_order %>
	<%= form.radio_button(:order_type, 1) %>
	<%= form.label :sell_order %>
</div>

<div class="form-group">
	<%= form.label :buy_currency %>
	<select name="order[buy_currency]">
		<option value="MYR">MYR</option>
		<option value="SGD">SGD</option>
		<option value="USD">USD</option>
		<option value="GBP">GBP</option>
		<option value="AUD">AUD</option>
	</select>
</div>

<div class="form-group">
	<%= form.label :buy_amount %>
	<%= form.number_field :buy_amount %>
</div>

	
<div class="form-group">
	<%= form.label :sell_currency %>
	<select name="order[sell_currency]">
		<option value="MYR">MYR - Your balance: <%= @user_balances.find_by(currency: "MYR").amount %></option>
		<option value="SGD">SGD - Your balance: <%= @user_balances.find_by(currency: "SGD").amount %></option>
		<option value="USD">USD - Your balance: <%= @user_balances.find_by(currency: "USD").amount %></option>
		<option value="GBP">GBP - Your balance: <%= @user_balances.find_by(currency: "GBP").amount %></option>
		<option value="AUD">AUD - Your balance: <%= @user_balances.find_by(currency: "AUD").amount %></option>
	</select>
</div>


<div class="form-group">
	<%= form.label :sell_amount %>
	<%= form.number_field :sell_amount %>
</div>